body {
    margin: 0;
    background-color: lightgrey;
    /* overflow: hidden; */
}
* {
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center ;
    align-items: center;
}